/* $Id$ */

.node-sort-list div.node, #dragHelper div.node {
  border-style: solid;
  border-width: 1px;
  border-color: black;  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 7px;
}

.node-sort-list div.node h2, #dragHelper div.node h2 {
  background: #ffefff;
  border-style: dotted;
  border-width: 1px;
  padding-left: 5px;
  padding-bottom: 3px;
  cursor: move;
}

.sort-wrapper div.node-shell {
  margin-bottom: 1px;
}

.sortable-helper {
	border: 1px dashed black;
	background: #ff3;
}
